[submodule "audit-rag-engine"]
    path = audit-rag-engine
    url = git@github.com:makbarsyahwana/audit-rag-engine.git

[submodule "audit-assistant-api"]
    path = audit-assistant-api
    url = git@github.com:makbarsyahwana/audit-assistant-api.git

[submodule "audit-assistant-ui"]
    path = audit-assistant-ui
    url = git@github.com:makbarsyahwana/audit-assistant-ui.git