apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: audit-postgres:5432
    database: audit_api
    user: audit_user
    secureJsonData:
      password: audit_pass
    jsonData:
      sslmode: disable
      postgresVersion: 1600
    editable: false
